@model Nespe.Models.DepartmentModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<fieldset>
    <legend>@ViewBag.Title</legend>
    @Html.EditorFor(m=>m)
</fieldset>

@Html.DisplayFor(m=>m.Items, "DepartmentModel.List")