@{
    ViewBag.Title = "Accueil Nespe";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>

        </div>
    </section>
}
<h3>Bienvenue sur Nespe, l'application de suivi des arrivées, transferts et départs des employés de Nestlé à Orbe</h3>

