@{
    ViewBag.Title = "Nespe - Recherches";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Recherches</h1>
                
            </hgroup>

        </div>
    </section>
}
<form>
    <table>
        <tr>
            <td>Research of : </td>
            <td><input type="checkbox" name="ResearchType" value="Arrival" checked> Arrivals</td>
            <td><input type="checkbox" name="ResearchType" value="Transferts" checked> Transferts</td>
            <td><input type="checkbox" name="ResearchType" value="Departures" checked> Départs</td>
        </tr>
        <tr>
            <td></td>
            <td>Du <input type=text name="fromDate"/></td>
            <td>au <input type=text name="toDate"/></td>
        </tr>
        <tr>
            <td></td>
            <td>Name or Surname : <input type=text name=SearchName /></td>
            <td>Department : <input type=text name=SearchDept /></td>
            <td><input type=button value=Rechercher name="search"</td>
        </tr>
    </table>
</form>

    <table>
        <caption align ="left">2012</h5></caption>
        <tr>
            <td><table>
                <caption>August</caption>
                    <tr>
                        <td>David Galloy</td>
                        <td>25.08.2012</td>
                        <td>MGS</td>
                        <td>Arrival</td>
                    </tr>
                </table>
            </td>
        </tr>     
        <tr>
            <td><table>
                <caption>July</caption>
                    <tr>
                        <td>No Activities in July</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>  
            <td><table>
                <caption>June</caption>
                    <tr>
                        <td>Martin Airas</td>
                        <td>12.06.2012</td>
                        <td>MGS</td>
                        <td>Arrival</td>
                    </tr>
                    <tr>
                        <td>Juan Penalva</td>
                        <td>25.06.2012</td>
                        <td>MGS</td>
                        <td>Transfert</td>
                    </tr>
                </table>
            </td>
        </tr>    
    </table>