<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="Nespe.Data.Properties.Settings.NespeDataContext" connectionString="Data Source=D:\workspace\_NESPE\Nespe\data\db_nespe.sdf"
    providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="NespeDataContext" connectionString="Data Source=D:\workspace\_NESPE\Nespe\data\db_nespe.sdf"
    providerName="System.Data.SqlServerCe.4.0" />
  <!--
  <add name="NespeDataContext" connectionString="Data Source=D:\workspace\_NESPE\Nespe\data\db_nespe.sdf"
    providerName="System.Data.SqlServerCe.3.5" />
  <add name="NespeDataContext" connectionString="Data Source=D:\workspace\_NESPE\Nespe\data\db_nespe.sdf"
    providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="NespeDataContext" connectionString="Data Source=D:\workspace\_NESPE\Nespe\data\db_nespe.sdf"
    providerName="System.Data.SqlServerCe.4.0" />
  <add name="NespeDbContext" connectionString="Data Source=|DataDirectory|\nespe-ncom.sdf"
    providerName="System.Data.SqlServerCe.4.0" />
  -->
</connectionStrings>
