@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;

<form>
    <table>
        <tr>
            <td>Search : </td>
            <td><input type="checkbox" name="ResearchType" value="Arrival" checked> Arrivals</td>
            <td><input type="checkbox" name="ResearchType" value="Transferts" checked> Transferts</td>
            <td><input type="checkbox" name="ResearchType" value="Departures" checked> Departures</td>
        </tr>
        <tr>
            <td></td>
            <td>From <input type=text name="fromDate"/></td>
            <td>to <input type=text name="toDate"/></td>
        </tr>
        <tr>
            <td></td>
            <td>Name or First Name : <input type=text name=SearchName /></td>
            <td>Department : <input type=text name=SearchDept /></td>
            <td><input type=button value=Rechercher name="search"</td>
        </tr>
    </table>
</form>