    <table>
        <caption align ="left">2012</h5></caption>
        <tr>
            <td><table>
                <caption>August</caption>
                    <tr>
                        <td>David Galloy</td>
                        <td>25.08.2012</td>
                        <td>MGS</td>
                        <td>Arrivée</td>
                    </tr>
                </table>
            </td>
        </tr>     
        <tr>
            <td><table>
                <caption>July</caption>
                    <tr>
                        <td>No requests in July</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>  
            <td><table>
                <caption>June</caption>
                    <tr>
                        <td>Martin Airas</td>
                        <td>12.06.2012</td>
                        <td>MGS</td>
                        <td>Arrivée</td>
                    </tr>
                    <tr>
                        <td>Juan Penalva</td>
                        <td>25.06.2012</td>
                        <td>MGS</td>
                        <td>transfert</td>
                    </tr>
                </table>
            </td>
        </tr>    
    </table>