
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;
@{
    ViewBag.Title = "Nespe - Recherches";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Researches</h1>
                
            </hgroup>

        </div>
    </section>
}
@using (Html.BeginForm())
{
    @Html.Partial("_OptionsRecherches", Model.RequestModel)
    @Html.Partial("_ResultRecherches", Model.RequestModel)
        }