@model Nespe.Models.DepartmentModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<fieldset>
    <legend>@ViewBag.Title</legend>
    @Html.EditorFor(m=>m)
</fieldset>

@Html.DisplayFor(m=>m.Items, "DepartmentModel.List")