
@using System.ComponentModel.DataAnnotations;
@using Nespe;
@using Nespe.Controllers;
@{
    ViewBag.Title = "Nespe - Accueil";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Administration</h1>
                
            </hgroup>

        </div>
    </section>

}

@using (Html.BeginForm())
{
    @Html.Partial("_ListDepartments", Model.RequestModel)
    @Html.Partial("_EditDepartments", Model.RequestModel)

}